@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: #fff;
    display: flex;
    margin: 0;
    padding: 0;
    color: white !important;
    font-family: "Open Sans", sans-serif;
}   
.main{
    background-color: #25211e;
    margin: 20px 0;
    padding: 50px 20px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 20px 50px 18px rgba(0, 0, 0, 0.49);
-moz-box-shadow: 0px 20px 50px 18px rgba(0, 0, 0, 0.49);
box-shadow: 0px 20px 50px 18px rgba(0, 0, 0, 0.49);
}
.mains-text{
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 60px 27px rgba(0, 144, 255, 0.49);
    -moz-box-shadow: 0px 0px 60px 27px rgba(0, 144, 255, 0.49);
    box-shadow: 0px 0px 60px 27px rgba(0, 144, 255, 0.49);
    border-radius: 15px;

}
.helo-text{
    text-align: center;
    font-size: 50px;    
}
.mains-games{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.main-for-games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 50%;
    text-align: center;
}
.hide-text{
    position: relative;
    top: -10px;
    transition: 1s ease;
}
.hide-text-hover{
    top: 0px !important;
}
.card-game-img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 30px;
    z-index: 1;
    transition: 1s ease;
}
.card-game-img-hover{
    top: 0px !important;
}
/* .main-games>card-game*12>.card[style='width: 18rem;']>img.card-img-top[src='...', alt='...']+.card-body>h5.card-title{Card title}+p.card-text{Some quick example text to build on the card title and make up the bulk of the card's content.}+a.btn.btn-primary[href='#']{Go somewhere} */