extends ../parts/main.pug
block title
    - var title="Murder time"
    - var game_icon='../../media/icons/Murder time.jpg'
    - var game_cover='../../media/icons/Murder time.jpg'
    - var game_cover2='../../media/icons/Murder time.jpg'
block content

    