
<div class="main main-game">
  <div class="main-game-content-left">
    <div class="main-game-name">
      <a class="link-game-icon" href="/">
        <div class="game-icon"><img src="/icons/M.jpg" alt="Game Icon"></div>
      </a>
      <h1 class="game-name">Bezhik-Tap</h1>
    </div>
    <div class="main-game-cover">
      <img class="game-cover-img" src="/icons/M.jpg" alt="Cover">
      <p class="game-cover-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quo ipsam dignissimos dicta reprehenderit possimus omnis eum necessitatibus voluptas ad, pariatur dolores fugiat repellendus corrupti porro doloremque debitis ea dolor.</p>
    </div>
  </div>
  <div class="main-download-game">
    <p class="wtyf">Цена: 0руб</p>
    <a class="download-button" href="path/to/your/file.zip" download>DOWNLOAD</a>
  </div>
  <div class="main-game-content-right">
    <div class="main-game-banner">
      <img class="game-banner-img" src="/icons/M.jpg" alt="Banner">
    </div>
    <div class="main-game-requirements">
      <div class="game-requirements">
        <ul><strong>Системные требования:</strong>
          <li>Видеокарта:</li>
          <li>Процессор:</li>
          <li>Оперативная память:</li>
          <li>Памяти на жёстком диске: </li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
<iframe src="/berta-game/" width="800" height="600" style="border:none;"></iframe>


