<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLOUS store</title>
    <%- include ('header') -%>
</head>
<body>
   
    <div class="main main-site">
        <div class="main-hello">
            <h1 class="text-hello">XLOUS Store<br>Добро пожаловать!</h1>
        </div>
        <div class="main-games">
            <div class="main-for-games">
                <a href="/murder" class="link-card-game">
                    <span class="card-game">
                        <img src="/icons/murder.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">MURDER TIME</p>
                    </span>
                </a><a href="/bertatap" class="link-card-game">
                    <span class="card-game">
                        <img src="/icons/bertatap.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">Bezhik-Tap</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a><a href="./game.html" class="link-card-game">
                    <span class="card-game">
                        <img src="https://i.pinimg.com/736x/18/b2/6d/18b26db5ae0e03533722d54a0b37733e--landscape-photographers-instagram-feed.jpg" alt="./game.html" class="card-game-img" ,="./game.html">
                        <p class="hide-text">example</p>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>