.main.main-game
    .main-game-content-left
        .main-game-name
            a.link-game-icon(href="./index.html")
                .game-icon
                    img(src=game_icon, alt="Game Icon")
            h1.game-name MURDER TIME
        .main-game-cover
            img.game-cover-img(src=game_cover, alt="Cover")
            p.game-cover-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quo ipsam dignissimos dicta reprehenderit possimus omnis eum necessitatibus voluptas ad, pariatur dolores fugiat repellendus corrupti porro doloremque debitis ea dolor.
    .main-download-game
        p.wtyf Цена: 0руб
        a.download-button(href="path/to/your/file.zip", download) DOWNLOAD
    .main-game-content-right
        .main-game-banner
            img.game-banner-img(src=game_cover2, alt="Banner")
        .main-game-requirements
            .game-requirements
                ul
                    strong Системные требования:
                    li Видеокарта:
                    li Процессор:
                    li Оперативная память:
                    li Памяти на жёстком диске: 