.container
  h1 Комментарии
    | {% if error_message %}
  .error {{ error_message }}
    | {% endif %}
  form.comment-form(method='POST')
    // Поле для имени пользователя
    input(type='text' name='username' placeholder='Ваше имя' required='' value="{{ user_comment[0] if user_comment else '' }}")
    // Поле для комментария
    textarea(name='comment' placeholder='Ваш комментарий' required='') {{ user_comment[1] if user_comment else '' }}
    // Кнопка отправки формы
    button(type='submit' {% if user_comment %} {% else %}disabled {% endif %}) Отправить
  h2 Список комментариев:
  .comments-section
    | {% for line in comments %}
    | {% set parts = line.split('|') %}
    .comment
      strong {{ parts[1] }}
      em ({{ parts[3] }})
      p {{ parts[2] }}
    | {% endfor %}
